.button {
  @extend %border-radius;
  display: inline-block;
  vertical-align: top;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 14px;
  transition: 0.5s background-color;
  font-weight: 600;
  border: none;
  cursor: pointer;
  line-height: 1.6;
}

.button-large {
  padding: 10px;
}

.button-orange {
  background-color: $orange-primary;
  color: $white;

  &:hover {
    background-color: $orange-dark;
  }
}

.button-blue {
  background-color: $blue-primary;
  color: $white;
  
  &:hover {
    background-color: $blue-dark;
  }
}

.button-group {
  text-align: center;
}

.button-group .button:first-child {
  border-radius: 3px 0 0 3px;
  width: 50%;
}

.button-group .button:last-child {
  border-radius: 0 3px 3px 0;
  width: 50%;
}

.button-green {
  cursor: pointer;
  color: $white;  
  border: $green-dark;
  font-weight: 600;
  background-color: #57ac55;
  transition: 0.5s background-color;

  &:hover {
    background-color: $green-dark;
  }
}

.workflow-hide-button {
  &:hover {
    color: #5caef6;
  }
}