$orange-primary: #f29e40;
$orange-dark: #ee7d00;

$blue-primary: #3677c0;
$blue-light: #5081b2;
$blue-dark: #286287;

$green-primary: #57ac55;
$green-dark: #4d9a4c;

$grey-light: #f3f4f4;

$text-primary: #000;
$text-secondary: #424242;
$text-medium: #aaa;
$text-light: #ccc;

$blue-grey: #c3d4e5;

$white: #ffffff;