.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  // border: 1px solid red;
}

.clear::after {
  display: table;
  height: 0;
  content: '';
  clear: both;
}

.grid-row {
  @extend %clear;
}

.grid-1-2 {
  float: left;
  width: 50%;
}