%box-shadow {
  box-shadow: 0 0 4px 2px rgba(4,4,4,0.15);
}

%border-radius {
  border-radius: $border-radius;
}

%clear:after {
  display: grid;
  content: '';
  height: 0;
  clear: both;
}

%inset-box-shadow {
  box-shadow: inset 0 0 4px 0 rgba(4,4,4,0.15);
}