@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Slab:400');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $text-primary;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}