.story-form {
  background-color: #dedede;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.4);

  button {
    float: right;
    border: 0;
    background-color: #ccc;
    padding: 5px 8px;
    border-radius: 3px;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: #bbb;
    }
  }

  button.save {
    color: $white;
    background-color: #629206;

    &:hover {
      background-color: #4e8202;
    }
  }

  button.delete {
    float: none;
    margin-left: 0;
    background-color: #d87350;
    color: white;

    &:hover {
      background-color: #b65130;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
    resize: none;
  }

  textarea {
    height: 100px;
  }

  ul {
    clear: both;
    padding-top: 10px;
    margin-bottom: 10px;

    li {
      border-bottom: 0;
    }
    
    li:first-of-type {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    
    li:last-of-type {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border: 1px solid #cdcdcd;
    }
    
    li {
      background-color: #efefef;
      padding: 10px;
      color: #777;
      font-size: 10px;
      font-weight: 600;
      border: 1px solid #cdcdcd;
      border-bottom: 0;
    }
  }

  label {
    color: #222;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}

.story-form-right {
  float: right;
}