.story {
  background-color: #f4f4f4;
  font-size: 12px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  color: #111;
  white-space: normal;
  @extend %clear;

  &:hover {
    cursor: move;
    background-color: #e6e6e6;
  }

  .icons {
    vertical-align: top;
    margin-right: -10px;
    float: left;
    font-size: 16px;
  }

  .story-content {
    float: right;
    padding-right: 5px;
    width: 295px;
    margin-top: 4px;
  }
}

@keyframes updated {
  from { 
    opacity: 0;
    transform: translateY(100%);
  }
  to { 
    opacity: 1;
    transform: translateY(0)
  }
}

.story-updated-true {
  animation: updated;
  animation-duration: 1s;
}

.story-container {
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 41px;
}

.story-Started,
.story-Finished,
.story-Rejected,
.story-Delivered {
  background-color: #f3f3d1;
  border-bottom: 1px solid #d1d1b0;
  border-top: 1px solid #f6f6f4;

  &:hover {
    background-color: #f0efc6;
  }
}

.story-Accepted {
  background-color: #daebcf;
  border-bottom: 1px solid #c3d5b4;
  border-top: 1px solid #e5f7d6;

  &:hover {
    background-color: #c6d9b6;
  }
}

.story-Icebox {
  background-color: #e4eff7;
  border-bottom: 1px solid #c2cdd5;
  border-top: 1px solid #f6fff9;

  &:hover {
    background-color: #d1e0ed;
  }
}

.story-points {
  display: inline-block;
  position: relative;
  border: 0;
  background: none;
  height: 14px;
  width: 10px;
  padding-top: 10px;
}

.estimate-points {
  float: right;
  width: 50px;
  margin-top: -2px;
  
  .blocks {
    background: none;
    border: 0;
    display: inline-block;
    position: relative;
    margin-left: 5px;
    top: 0;
    left: 0;
    border-bottom: 1px solid #aaa;
    padding: 0 3px;
    height: 100%;
    cursor: pointer;
  }

  .block {
    background-color: #609ffc;
  }
  
  .block,
  .block-invis {
    height: 3px;
    width: 5px;
  }
}

.story-points .blocks {
  top: 3px;
}

.story-points .block {
  height: 3px;
  width: 5px;
  background: #609ffd;
}

.icon-story {
  margin-right: 0px;
}

.icon-feature {
  color: #e0c85e;

  &:hover {
    color: #e0c85e;
  }
}

.icon-bug {
  color: #d87350;

  &:hover {
    color: #d87350;
  }
}

.icon-chore {
  color: #888;

  &:hover {
    color: #888;
  }
}

.icon-release {
  color: #555;

  &:hover {
    color: #555;
  }
}

.icon-dropdown {
  color: #aaa;
  cursor: pointer;
  padding: 5px 10px;
}

.button-status:first-of-type {
  margin-left: 3px;
}

.button-status {
  background-color: #ddd;
  border-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  float: right;
  font-weight: 600;
  padding: 3px 8px;
  margin-top: -2px;
}

.button-status-Started {
  background-color: #1f3e64;
  border: 1px solid #172c51;
  color: $white;
}

.button-status-Finished {
  background-color: $orange-primary;
  border: 1px solid #ee8133;
  color: $white;
}

.button-status-accept {
  background-color: #629206;
  color: $white;
  border: 1px solid #4e8202;
}

.button-status-reject {
  background-color: #a72c38;
  border: 1px solid #962527;
  color: $white;
}

.button-status-Rejected i {
  color: #a72c38;
  margin-right: 5px;
}

.droppable-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.placeholder {
  margin-top: 100px;
  font-weight: 600;
  text-align: center;
  color: white;

  h4 {
    margin-bottom: 10px;
  }
  
  i {
    margin-right: 10px;
  }
}